<!DOCTYPE html>
<html lang="en">

<head>
  <!--아이콘-->
  <script src="https://kit.fontawesome.com/3dbd254300.js" crossorigin="anonymous"></script>
 

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Baking Recipe Collection</title>

 <!-- JS -->   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/shop-homepage.css') }}" >

  <style>
    .star_button_empty {
                align-items: center;
                display: inline-block;
                border: 0px;
                color: gray;
                text-align: center; 
            }
    .star_button_filled {
                align-items: center;
                display: inline-block;
                border: 1px;
                color: sienna;
                text-align: center; 
            }
    .star_button_empty:hover {
                color:sienna;
            }
    .star_button_filled:hover {
                color:gray;
            }
    .mytext{
      color: black;
    }
    .mytext:hover{
      color : sienna;
    }
    .column{
      float:left;
    }
   
    .search-box{
        width: 220px;
        height: 38px;
    }
    .search-botton{
      color:sienna;
    }
    #wanna {
    display: none;}
  
  </style>

  <script>
    function open_wanna() {
    // id 값 home의 display 값이 block 이면
    if ( $('#wanna').css('display') == 'none' ) {
      $('#home').hide();
      $('#wanna').show();
      }
    }

 function search(){
      alert("aaa");
      var s_input;

      s_input = $('#search-box').val();

        $.ajax({
          type: "POST",
          url: "save",
          data: {text:s_input},
          success: function(response){
              alert("ok!!");
            }
          })

    }


  </script>
</head>

<body>

 
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 href="#" class="my-4">Baking Recipe Collection</h1>

        <div> 
          <input id="search-box" class="column search-box form-control" placeholder="Search recipe!">
          <button onclick="search()" class="search-botton fas fa-search fa-2x"></button>
        </div>
       
       <h1> </h1>
       <h1> </h1>
        
          <button id="my_recipe" type="button" onclick="open_wanna()" class="search-box btn btn-warning">My recipe</button>
        </div>

      <!-- /.col-lg-3 -->

      
      <div class="col-lg-9">
       
        <!-- home div -->
        <div id="home">
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="https://blog.naver.com/key0034?Redirect=Log&logNo=221722443396"><img class="card-img-top" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTExMjlfOSAg%2FMDAxNTc1MDI3NzQ0MDAy.DQubpO08Sp9abiZiy4GwJ47keSJDfu3MO7h4O0Q-Mq8g.bF_GZmZLBjuLAMjqQ1PIVdgCgZCxuRkaXVgar6N7XGUg.JPEG.key0034%2F3.JPG%233406x3406&type=m80_80" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a class="mytext" href="">*Emily's Food live...</a>
                </h4>
                <h5>2019.11.30. </h5>
                <p class="card-text">크리스마스 케이크 만들기 / 딸기케이크 만들기 / 딸기생크림케...</p>
              </div>

              <div class="card-footer">
                <a href="#" class="star_button_empty far fa-star fa-2x"></a>
                <a href="#" class="star_button_empty far fa-star fa-2x"></a>
                <a href="#" class="star_button_filled fas fa-star fa-2x"></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxOTEyMjNfMjMy%2FMDAxNTc3MDI3NjUzMjAz.B0zqlF5uaRqFqBeaxQKtSRcqN65b4n6OzpcsMkpI15og.kgrT4YnQWeqS0QQw4DJlB7uH24LxSJdxSFJylgeo8F0g.JPEG.6design%2F191222_1_111%25C5%25A9%25B8%25AE%25BD%25BA%25B8%25B6%25BD%25BA%25C4%25C9%25C0%25CC%25C5%25A9.jpg%23600x600&type=m80_80" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Two</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div><!-- row -->
        </div><!-- 기본페이지 home div-->

        <!--만들고싶은 페이지 wanna -->
        <div id="wanna">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Three</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Four</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Five</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item Six</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        </div> <!-- /row -->
        </div> <!-- /만들고 싶은 레시피 wanna -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 박소은 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/jquery/jquery.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>

</body>

</html>
